{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="{% static 'assets/img/logo-header.png' %}" alt="Parco Letterario Verismo" class="logo-header">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="parcoDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Il Parco
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="parcoDropdown">
                        <li><a class="dropdown-item" href="#missioni">Missioni e visione</a></li>
                        <li><a class="dropdown-item" href="#comitato">Comitato tecnico</a></li>
                        <li><a class="dropdown-item" href="#regolamenti">Regolamenti & documenti</a></li>
                        <li><a class="dropdown-item" href="#partner">Partner e rete territoriale</a></li>
                        <li><a class="dropdown-item" href="#accrediti">Accrediti e finanziamenti</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="luoghiDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Luoghi & Percorsi
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="luoghiPercorsiDropdown">
                        <li><a class="dropdown-item" href="#vizzini">Vizzini</a></li>
                        <li><a class="dropdown-item" href="#mineo">Mineo</a></li>
                        <li><a class="dropdown-item" href="#licodia">Licodia Eubea</a></li>
                        <li><a class="dropdown-item" href="#mappe">Mappe interattive</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#verghiani">Itinerari Verghiani</a></li>
                        <li><a class="dropdown-item" href="#capuaniani">Itinerari Capuaniani</a></li>
                        <li><a class="dropdown-item" href="#tematici">Tematici</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="eventiDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Eventi & News
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="eventiDropdown">
                        <li><a class="dropdown-item" href="#eventi">Eventi</a></li>
                        <li><a class="dropdown-item" href="#calendario">Calendario</a></li>
                        <li><a class="dropdown-item" href="#news">News</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="opereDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Opere & Letteratura
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="opereDropdown">
                        <li><a class="dropdown-item" href="#opere-verga">Opere di Verga</a></li>
                        <li><a class="dropdown-item" href="#opere-capuana">Opere di Capuana</a></li>
                        <li><a class="dropdown-item" href="#personaggi">Personaggi & Lessico del Verismo</a></li>
                        <li><a class="dropdown-item" href="#luoghi-opere">Luoghi delle Opere</a></li>
                        <li><a class="dropdown-item" href="#biblioteca">Biblioteca Digitale</a></li>
                        <li><a class="dropdown-item" href="#archivio">Archivio fotografico</a></li>
                        <li><a class="dropdown-item" href="#documenti-studi">Documenti & Studi</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#contatti">Contatti</a>
                </li>

                <li class="nav-item">
                    <a class="btn btn-primary ms-3" href="#prenota">Prenota</a>
                </li>

            </ul>
        </div>
    </div>
</nav>